/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  color: #fff;
}

#main-content {
  text-align: center;
}

.centered-form {
  display: block;
  width: 300px;
  margin: 0 auto;
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

#error-message {
  color: #f44336;
}

#click-to-play {
  margin-top: 20px;
}

#game-url {
  margin-top: 20px;
  display: none;
}

#game-url a {
  color: #28a745;
  text-decoration: none;
}

#game-url a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
