body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: green;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #003300;
}

.navbar button {
    margin: 0 10px;
    padding: 10px;
    background-color: #004400;
    border: none;
    color: white;
    cursor: pointer;
}

.page {
    margin-top: 20px;
}

.category {
    margin-top: 30px;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #008800;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #002200;
    padding: 20px;
    border-radius: 10px;
}
